html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #202223;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	color: #707070;
	overflow-x: hidden;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 180%;
}

a {
	color: #FEE722;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

/*poop*/
/** WRAPPER */
#banner-wrapper{
	overflow: hidden;
	height: 25em;
	/* background: url(images/img01.jpg) no-repeat top center; */
	/* background: url(images/MountainCroppedBlurred.jpg) no-repeat top center; */
	background: url(images/Code1CroppedBlurred.jpg) no-repeat top center;
	/* background: url(1x/Artboardtrial1.png) no-repeat top center; */
	background-size: cover;
	display: flex;
	align-items: top;
	justify-content: center;
}

#banner-wrapper img{
	z-index: 2;
	position: absolute;
	width: 30em;
	left: 15em;
}

#banner-wrapper h1{
	z-index: 3;
	position: absolute;
	top: 7em;
	left: 27em;
	color: whitesmoke;
	text-shadow: 2px 2px 4px black;
}

#header-wrapper{
	background: #181818;
	display: flex;
}

.container {
	width: 90%;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/** HEADER */
#header {
	overflow: hidden;
	height: 60px;
}

/** MENU */

#menu {
	display: flex;
	align-items: center;
	justify-content: center;
}

#menu ul {
	list-style: none;
	display: flex;
}

#menu li {
	z-index:4;
	/* padding: 0; */
	margin: 0 3.2em;
}

#menu a {
	display: block;
	line-height: 60px;
	text-decoration: none;
	text-transform: uppercase;
	color: #FFF;
	padding: 0 4em;
}

#menu li:hover {
	background: black;
	border-radius: .4em;
}

/** PAGE */
#page {
	display: flex;
	overflow: hidden;
	padding-top: 5em;
}

/** CONTENT */
#content {
	margin: 0 auto;
	display: inline-flex;
	flex-direction: column;
}
#img_and_post img{
	border-radius: 100%;
	margin: 0 2em 4em 0;
}

#img_and_post {
	width: 100%;
	display: inline-flex;
	justify-content: space-around;
	justify-items: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.post {
	min-width: 10em;
	max-width: 35em;
	display: inline-flex;
	flex-direction: column;
	/* overflow: hidden; */
	padding: 40px;
	border: 1px solid #E7EBED;
	border-radius: 8px;
	background: #FFF;
	/* margin: 0 4em 4em 0; */
	margin: 0 2em 4em 0;
}

.post a{
	color: #262626;
}

.post .title {
	padding: 7px 0px 0px 0px;
	letter-spacing: -1px;
	border: none;
	font-size: 3em;
	letter-spacing: -2px;
	text-decoration: none;
	font-weight: 600;
	color: #222222;
	margin-bottom: 1em;
}

.post .entry {
	display: flex;
	flex-direction: column;
	/* padding: 0px 0px 40px 0px; */
	text-align: justify;
	overflow: hidden;
}
.post h3 {
	font-size: 1em;
}

.links {
	padding-top: 20px;
	margin-bottom: 30px;
}

/* Footer */
#footer {
	overflow: hidden;
	padding: 3em 0em;
	border-top: 1px solid #282A2B;
}

#footer p, h3, h4, h5 {
	text-align: center;
}

#footer a {
	color: #6B6B6B;
}

@media only screen and (min-width: 320px) and (max-width:1250px){
	#menu ul{
		width: 90%;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		margin: 0em auto;
	}

	#header{
		height: auto;
		max-width: 800px;
	}

	#banner-wrapper img{
		z-index: 2;
		position: absolute;
		width: 30em;
		left: 5em;
	}
	/* .mylogo{
		width: 5%;
		height: 5%;
		bottom: 53em;
		right: 30em;
	} */

	#banner-wrapper h1{
		left:20em;
		text-align: center;
	}

	.h1container{
		justify-content: center;
	}
}